html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cinzel", serif;
}

.div-header {
  height: 65px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid whitesmoke;
}

.div-color-title {
  border-bottom: 1px solid whitesmoke;
  height: 60px;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  font-size: 20px;
  align-items: center;
}

.div-colorbox {
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  transition: transform 0.1s;
}

.div-colorbox:hover {
  cursor: pointer;
  transition: transform 0.1s;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px gray;
}

.div-color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 10px solid whitesmoke;
}

.div-footer {
  height: 65px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none;
}
